.card{
    width:300px;
    box-shadow: 0 2px 3px #333;
    border-color: #333;
    padding: 5px;
    margin:10px;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  
}

.card:hover {
    transform: scale(1.05);
  }
.card img{
    width: 200px;
}